.nav {
	display: flex;
	align-items: center;
}
.nav__ul,
.nav__li {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
}

.nav__span,
.nav__link {
	color: $primary-40;
}
.nav__span {
	cursor: default;
}
.nav__link {
	&::first-letter {
		text-transform: uppercase;
	}
	transition: color 0.3s ease;
	&:hover {
		color: black;
	}
}
.nav__link_active {
	transition: none;
	color: black;
}
.nav__link_transition-none {
	transition: none;
}
