.catalog {
	display: flex;
	flex-flow: row wrap;
}
.catalog__list {
	flex: 1;
	margin-left: 2.4rem;
	transition: opacity 0.3s ease;
}
.catalog__list_loading {
	opacity: 0.3;
	pointer-events: none;
}
.list_background {
	background-color: $background;
	flex: 1;
}
