.menu {
	display: none;
	padding: 2.4rem 4.2rem;
	max-width: 148.8rem;
	margin: 0 auto;
}
.menu_active {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.menuNav {
	display: flex;
	flex-flow: row nowrap;
	flex: 1;
}
.menuNav_brand {
	flex: 3;
}
.menuImg {
	display: flex;
	flex-flow: row wrap;
	flex: 1;
	margin: -1.2rem;
}
.menuImg_brand {
	flex-flow: column nowrap;
}
