.lable {
	width: 100%;
	height: 5.7rem;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.4rem;
	background-color: $primary-5;
	transition: background-color 0.3s ease;
	user-select: none;
	padding: 1.2rem;
	&:hover {
		background-color: $primary-10;
	}
}
.lable__block {
	display: flex;
	flex-flow: row wrap;
	width: 18rem;
	line-height: 1.5rem;
}
.lable__span {
	color: $purple;
}
.lable__price,
.lable__partners {
	color: $primary-40;
	white-space: nowrap;
}
.lable__partners {
	font-size: 1rem;
	flex: 1;
	text-align: left;
}
.lable__details {
	background: $primary;
	color: white;
	width: 7rem;
	height: 3.2rem;
	border-radius: 0.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}
