.indexSlider_item {
	margin-bottom: 6.4rem;
	max-height: 502.9px;
}
.indexSlider_item:nth-child(6) {
	margin-bottom: 0;
}
.indexSlider__slide {
	display: flex;
	flex-flow: row nowrap;
	gap: 2.4rem;
}
