.filter {
	width: 26.4rem;
	padding: 1.6rem 3rem 7.2rem 1.6rem;
	align-self: flex-start;
	position: sticky;
	top: 110px;
	transition: opacity 0.3s ease;
}
.filter_hide {
	opacity: 0;
}
.filter__title {
	font-size: 1.4;
	padding: 1.4rem 0;
	margin-top: inherit;
}
