.table {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(3, 1fr);
	border-radius: 0.4rem;
	border: 1px solid $primary-10;
	overflow: hidden;
	margin-bottom: 20rem;
}
.block {
	padding: 4rem;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: $primary-5;
	}
	&:nth-child(1),
	&:nth-child(2) {
		border-right: 1px solid $primary-10;
		border-bottom: 1px solid $primary-10;
	}
	&:nth-child(3) {
		border-bottom: 1px solid $primary-10;
	}
	&:nth-child(4) {
		border-right: 1px solid $primary-10;
	}
	&:nth-child(5) {
		border-right: 1px solid $primary-10;
	}
}
.block__pic {
	display: block;
	width: 3.6rem;
	height: 3.6rem;
}
.block__h1 {
	font-size: 2.4rem;
	font-weight: normal;
	margin-bottom: 2.4rem;
	margin-top: 1.6rem;
}
.block__p {
	font-size: 1.4rem;
	line-height: 2rem;
	color: $primary-40;
}
